@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Assistant", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  color: #e5e5e5;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #1b263b;
  width: 250px;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  border-radius: 0px 15px 15px 0px;
  padding: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.profile img {
  width: 50px;
}

.mainmenu h3,
.general h3,
.account h3 {
  padding-bottom: 15px;
}

.Micon {
  margin-bottom: 10px;
}

.Micon a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.Micon a:hover {
  background-color: #0099ff;
  border-radius: 5px;
  cursor: pointer;
}

.menuicon {
  font-size: 22px;
}

.iconactionname {
  font-size: 22px;
  font-weight: 700;
}
